body {
    background-color: #e2e1e1;
    margin: 0;
  }

.menu {
    padding-top: 0;
    background-color: #333;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-grow: 1;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    transition: all 0.3s ease;
}

.menu li a:hover {
    background-color: #fff;
    color: #333;
}